# Data files
*.csv
*.xlsx
*.xls
!sample_data.csv
data/raw/*
data/staging/*
!data/raw/.gitkeep
!data/staging/.gitkeep
data/processed/*.csv

# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.env

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb

# Power BI
*.pbix

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db